.layout {
  height: 100vh;
  background-color: #ededed;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 250px 1fr;
}

.user,
.header {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
}

.user {
  background-color: #995739;
  font-size: 1.1em;
  padding: 0 1em;
}

.header {
  background-color: #995739e3;
  font-size: 1.3em;
  padding: 0 2rem;
}

.sidebar {
  border-right: 1px solid #cfcfcf;
  padding: 1.2rem 10px;
}

.menu {
  margin: 0 !important;
}

.content {
  padding: 1.5em 2rem;
  overflow: auto;
}
